# COVID-19 Deaths for Some Selected Countries

This notebook uses the data provided by [Johns Hopkins CSSE](https://github.com/CSSEGISandData/COVID-19).

In [0]:
import pandas as pd
import requests
import altair

## Get Data from GitHub

In [2]:
url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/" \
      "csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

df = pd.read_csv(url)
df.sample(5)

    Province/State Country/Region      Lat  ...  3/28/20  3/29/20  3/30/20
198            NaN       Slovenia  46.1512  ...        9       11       11
158            NaN         Mexico  23.6345  ...       12       16       20
54       Guangdong          China  23.3417  ...        8        8        8
240            NaN          Libya  26.3351  ...        0        0        0
93       Greenland        Denmark  71.7069  ...        0        0        0

[5 rows x 73 columns]

## Clean Up Data

Remove columns that are not needed.

In [3]:
df = df.drop(["Province/State", "Lat", "Long"], axis=1)
df = df.rename(columns={"Country/Region": "Country"})
df.sample(5)

             Country  1/22/20  1/23/20  ...  3/28/20  3/29/20  3/30/20
64             China        0        0  ...        1        1        1
0        Afghanistan        0        0  ...        4        4        4
167      Netherlands        0        0  ...        1        1        1
174  North Macedonia        0        0  ...        4        6        7
166      Netherlands        0        0  ...        0        0        0

[5 rows x 70 columns]

Some countries like UK and US show up on multiple lines (as data is presented for each region), so group all lines by country and sum all values.

In [4]:
df = df.groupby(["Country"], as_index=False).sum()
df.sample(5)

        Country  1/22/20  1/23/20  1/24/20  ...  3/27/20  3/28/20  3/29/20  3/30/20
137      Rwanda        0        0        0  ...        0        0        0        0
154    Suriname        0        0        0  ...        0        0        0        0
134       Qatar        0        0        0  ...        0        1        1        1
145  Seychelles        0        0        0  ...        0        0        0        0
45      Denmark        0        0        0  ...       52       65       72       77

[5 rows x 70 columns]

Filter the data set on a small set of countries.

In [5]:
countries = ["Sweden", "Italy", "Spain", "Germany", "France", "US", "United Kingdom", "Korea, South"]
df = df[df["Country"].isin(countries)]
df

            Country  1/22/20  1/23/20  ...  3/28/20  3/29/20  3/30/20
60           France        0        0  ...     2317     2611     3030
64          Germany        0        0  ...      433      533      645
83            Italy        0        0  ...    10023    10779    11591
89     Korea, South        0        0  ...      144      152      158
151           Spain        0        0  ...     5982     6803     7716
155          Sweden        0        0  ...      105      110      146
166              US        0        0  ...     2026     2467     2978
170  United Kingdom        0        0  ...     1021     1231     1411

[8 rows x 70 columns]

The Altair library that is used for visualization works best with "long" data, so melt our dataset to long format.

In [6]:
df = df.melt("Country", var_name="Date", value_name="Deaths")
df

            Country     Date  Deaths
0            France  1/22/20       0
1           Germany  1/22/20       0
2             Italy  1/22/20       0
3      Korea, South  1/22/20       0
4             Spain  1/22/20       0
..              ...      ...     ...
547    Korea, South  3/30/20     158
548           Spain  3/30/20    7716
549          Sweden  3/30/20     146
550              US  3/30/20    2978
551  United Kingdom  3/30/20    1411

[552 rows x 3 columns]

Finally, fix the date column to be a proper datetime type.

In [7]:
df["Date"] = pd.to_datetime(df["Date"])
df

            Country       Date  Deaths
0            France 2020-01-22       0
1           Germany 2020-01-22       0
2             Italy 2020-01-22       0
3      Korea, South 2020-01-22       0
4             Spain 2020-01-22       0
..              ...        ...     ...
547    Korea, South 2020-03-30     158
548           Spain 2020-03-30    7716
549          Sweden 2020-03-30     146
550              US 2020-03-30    2978
551  United Kingdom 2020-03-30    1411

[552 rows x 3 columns]

## Plot the Dataset

In [8]:
max_deaths = df["Deaths"].max()
import altair as alt
alt.Chart(df).transform_filter(
    alt.datum.Deaths >= 10  
).mark_line(point=True).encode(
    alt.X("Date:T"),
    alt.Y("Deaths:Q", scale=alt.Scale(type="log", zero=True, domain=[10, max_deaths])),
    color="Country:N",
    shape=alt.Shape("Country"),
    tooltip=["Country", "Deaths", "Date"]
).properties(
    width=1000,
    height=600
).configure_point(
    size=75
).interactive()

alt.Chart(...)